<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 공통 Mapper XML 추가하기 -->
<!-- 페이징과 검색 기능은 공통으로 사용되는 기능이기 때문에 하나의 Mapper XML에 페이징과 검색을 처리하는 SQL문을 선언하고,
     BoardMapper XML에서 인클루드 함 -->
<mapper namespace="CommonMapper">

	<!-- MySQL 페이징 -->
	<!-- BoardMApper XML에서 selectBoardList의 LIMIT와 동일함
	     페이징 기능은 공통으로 사용되기 때문에 해당 SQL 조각을 인클루드해서 사용함 -->
	<sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</sql>

	<!-- MySQL 검색 -->
	<sql id="search">
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">
							AND title LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND content LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<!-- 즉 제목, 작성자, 내용 전체에서 검색 키워드만으로 LIKE 쿼리를 실행 -->
				<otherwise>
					AND
						(
							   title LIKE CONCAT('%', #{searchKeyword}, '%')
							OR content LIKE CONCAT('%', #{searchKeyword}, '%')
							OR writer LIKE CONCAT('%', #{searchKeyword}, '%')
						)
				</otherwise>
			</choose>
		</if>
	</sql>

</mapper>